.advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 373px;
}

.advantage-box {
    display: flex;
}

.advantage {
    width: 20%;
    padding: 0 33px;
    text-align: center;
    align-self: center;
}

.special > h3,img,:after{
    transition: 0.3s linear;
}

.special:hover>h3 {
    color: #c7b299;  
}

.special:hover:after {
    background-color: #c7b299;
}

.special:hover>img {
    filter: invert(71%) sepia(26%) saturate(260%) hue-rotate(352deg) brightness(110%) contrast(89%);
}

.advantage::after {
    content: "";
    display: block;
    height: 3px;
    width: 70px;
    background-color: #f1eee9;
    margin: 24px auto;
}

.advantage-heading {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    padding: 29px 0 19px 0;
}

.advantage-paragraph {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 24px;
}