.advantages {
    display: flex;
    justify-content: center;
    align-items: center;;
    min-height: 373px;
}

.advantage-box {
    display: flex;
}

.advantage {
    width: 20%;
    padding: 0 33px;
    text-align: center;
    align-self: center;
}

.advantage-heading,
.advantage-img,
:after {
    transition: 0.3s linear;
}

.special:hover .advantage-heading {
    color: #c7b299;
}

.special:hover:after {
    background-color: #c7b299;
}

.special:hover .advantage-img {
    filter: invert(71%) sepia(26%) saturate(260%) hue-rotate(352deg) brightness(110%) contrast(89%);
}

.advantage::after {
    content: "";
    display: block;
    height: 3px;
    width: 70px;
    background-color: #f1eee9;
    margin: 24px auto;
}

.advantage-heading {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    padding: 29px 0 19px 0;
}

.advantage-paragraph {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 24px;
}

@media (max-width: 768px) {
    .advantage-box {
        flex-direction: column;
    }

    .advantage {
        width: 90%;
        padding: 33px 0;
    }
}