.carusel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 285px;
}

.carusel-btn {
    display: block;
    width: 60px;
    height: 60px;
    margin: 30px;
    border: none;
    border-top: 3px solid white;
    border-right: 3px solid white;
    background-color: transparent;
    transition: .3s;
    opacity: .5;
}

.carusel-btn:hover {
    opacity: 1;
}

.right {
    transform: rotate(45deg);
}

.left {
    transform: rotate(225deg);
}

.carusel-pagination {
    display: flex;
    justify-content: center;
    ;
    padding: 5px 0;
    position: absolute;
    bottom: 40px;
}

.carusel-pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: white;
}

@media (max-width: 480px) {
    .carusel {
        display: none;
    }
}