.footer {
    margin-top: -1px;
    /* Small fix in spacing for browser*/
}

.footer-top {
    background-color: #191919;
}

.footer-top-box {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer-widget,
.footer-about-us,
.footer-recent-posts,
.footer-twitter {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.footer-about-us-paragraph {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    line-height: 24px;
    max-width: 270px;
    padding: 0 0 26px 0;
}

.footer-about-us-link {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
    color: #d1d1d1;
    line-height: 20px;
    text-decoration: none;
}

.footer-about-us-link::after {
    content: '\25B6';
    padding: 0 0 0 9px;
}

.footer-heading-3 {
    padding: 0 0 33px 0;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

.footer-logo {
    padding: 0 0 30px 0;
}

.footer-recent-posts-item-date,
.twitter-time {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #363636;
    line-height: 20px;
    transition: .3s;
}

.footer-recent-posts li:hover .footer-recent-posts-item-date {
    color: white;
}

.footer-recent-posts li:hover .footer-recent-posts-item-p {
    color: #c7b299;
}

.footer-recent-posts-item-p,
.footer-twitter-item-p {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    line-height: 20px;
    text-align: left;
    transition: .3s;
}

.twitter-link {
    text-decoration: none;
    color: #00bff3;
}

.footer-widget {
    flex-grow: 0.1;
}

.footer-hr {
    border: 1px solid #252525;
    margin: 20px 0;
}

.footer-widget-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0.1;
}

.footer-bottom {
    background-color: #090909;
}

.footer-bootom-list-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer-bottom-list {
    display: flex;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #555555;
    line-height: 20px;
}

.footer-bottom-list-item {
    display: block;
    border-right: 1px solid #252525;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    box-sizing: border-box;
}

.footer-bottom-list-item:last-child {
    border: none;
}

.footer-bottom-list-brandlink {
    color: #959595;
}

.footer-bottom-list-link {
    color: #555555;
}

@media (max-width: 480px) {
    .footer-top-box {
        flex-direction: column;
        align-items: center;
        padding: 32px 0;
    }

    .footer-about-us {
        width: auto;
    }

    .footer-recent-posts,
    .footer-twitter,
    .footer-widget {
        width: 70%;
    }

    .footer-heading-3 {
        text-align: center;
        padding: 24px 0 24px 0;
    }

    .footer-bootom-list-box {
        justify-content: center;
    }

    .footer-bottom-list-item {
        margin: 0 0 12px 0;
        padding: 4px 6px;
    }

    .footer-widget-list {
        justify-content: center;
    }

    .footer-widget-list-item {
        padding: 0 2px;
    }
}