.latest-projects-content {
    text-align: center;
}

.latest-projects-header {
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    padding: 81px 0 24px 0;
}

.latest-projects-paragraph {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 28px;
    padding: 0 0 17px 0;
}

.latest-projects-btn-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.latest-projects-btn {
    width: auto;
    height: 32px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0 10px;
    padding: 0 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.gallery-item {
    position: relative;
    margin: 30px 0;
}

.gallery-item-photo {
    display: block;
}

.gallery-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 93%;
    height: 100px;
    position: relative;
    background-color: #fbfaf8;
    padding: 0 0 0 26px;
}

.gallery-item-description::before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}

.gallery-item-heading3 {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    color: #c7b299;
}

.gallery-item-heading4 {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    color: #d1d1d1;
    line-height: 20px;
}

.gallery-button {
    margin: 0 auto;
    background-color: #9A8776;
    height: 50px;
    width: 170px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    line-height: 23px;
    text-transform: uppercase;
}
