* {
    margin: 0;
}

button,
a {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}

a {
    transition: .3s;
}

a:hover {
    color: #c7b299;
}

a:focus {
    outline: 3px solid #c7b299;
}

button:focus {
    border: 3px solid #c7b299;
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-left: 16px;
        padding-right: 16px;
    }

    img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    img {
        width: 100%;
    }
}