.purchase-now {
    background-color: #38241B;
}

.purchase-now-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 150px;
}

.purchase-now-heading {
    font-family: 'Raleway';
    font-size: 28px;
    color: #ffffff;
    padding: 0 0 8px 0;
}

.purchase-now-logo {
    color: #c7b299;
}

.purchase-now-paragraph {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
    color: #615855;
}

.purchase-now-button {
    background-color: #9A8776;
    height: 50px;
    width: 170px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    line-height: 23px;
    text-transform: uppercase;
}